@* stylesheet *@
<link rel="stylesheet" href="~/css/Profile/Index.css" asp-append-version="true" />

@* https://localhost:7142/Profile/Index *@


<div class="main_wrap border-radius box-shadow">
<div class="profile-card">
<div class="profile-block pd-60">
        <!-- 頭像與基本資訊 -->
        <div class="obj-center " >
            <div class="profile-info">
                <div class="obj-center pro-imgPD">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT0Jo-Zc-Hu7svz7o5YQQCGShFYdZ2-IJscfw&s" alt="Profile Image" class="profile-image">

                </div>
                <p class="txt-center profile-title">姓名</p>
                <p class="txt-center profile-title">abc123@heldom.com</p>
            </div>
        </div>

        <!-- 年資與特休 -->
        <div class="stats">
            <div class="stat">
                <h1 class="stat-number">10</h1>
                <p class="stat-label">到職年資</p>
            </div>
            <div class="stat">
                <h1 class="stat-number">90</h1>
                <p class="stat-label">特休天數</p>
            </div>
        </div>
         <!-- 編輯按鈕 -->
        <div class="edit-button color-blue">
            <button class="txt-center">編輯</button>
        </div>
    </div>
        <!-- 主要資訊 -->
        <div class="profile-block" style="width: 75%;">
        <div class="details">
            <div class="contact-row">
                <div class="contact-col contact-block"><p class="content-title">到職日</p><p class="content-content">2025/02/20</p></div>
                <div class="contact-col contact-block"><p class="content-title">職稱</p><p class="content-content">技士</p></div>
                <div class="contact-col contact-block"><p class="content-title">部門</p><p class="content-content">部門名</p></div>
            </div>
            <div class="contact-row">
                <div class="contact-col contact-block"><p class="content-title">員工編號</p><p class="content-content">ABC-123456789</p></div>
                <div class="contact-col contact-block"><p class="content-title">出生日期</p><p class="content-content">2025/02/20</p></div>
                <div class="contact-col contact-block"><p class="content-title">電話</p><p class="content-content">0919-123456</p></div>
            </div>
            <div class="contact-row">
                <div class="contact-col contact-block"><p class="content-title">地址</p><p class="content-content bold">台中市台中市台中市台中市台中市台中市台中市</p></div>
                <div class="contact-col contact-block"><p class="content-title">緊急聯絡人</p><p class="content-content">2025/02/20</p></div>
                <div class="contact-col contact-block"><p class="content-title">緊急電話</p><p class="content-content">0919-123456</p></div>
            </div>
        </div>
        </div>


  </div>


</div> @*原div*@


<script>

  </script>

<style>
    .main_wrap {
        width: 1040px;
        height: 458px;
    }

</style>