@* stylesheet *@
<link rel="stylesheet" href="~/css/Profile/NewAccount.css" />
@* https://localhost:7142/Profile/NewAccount *@

<div class="main_wrap border-radius box-shadow">
	<div class="top_area">
		<h4 class="bold">編輯員工資料</h4>
		<div class="form-check form-switch switch_wrap">
			<label class="form-check-label" for="flexSwitchCheckDefault" id="switch_txt">啟用中</label>
			<input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" checked>
		</div>
	</div>
	<div class="middle_area">
		<div class="middle_area_left">
			<div class="photo_wrap">
				<p class="color-gray-dark bold p_width">員工照片</p>
				<div class="photo-box" id="photoBox">
					<div class="upload-area obj-center">
						<i class="fas fa-plus obj-center"></i>
					</div>
				</div>
			</div>
			<div class="input_wrap">
				<p class="color-gray-dark bold p_width">員工姓名</p>
				<input id="employeeName" value="姓名" class="form-control form-control-small" />
				<select id="Gender" class="form-select form-select-small">
					<option value="M" selected>男性</option>
					<option value="F">女性</option>
				</select>
			</div>
			<div class="input_wrap">
				<p class="color-gray-dark bold p_width">出生日期</p>
				<input type="date" id="birthDate" class="form-control" />
			</div>
			<div class="input_wrap">
				<p class="color-gray-dark bold p_width">聯絡電話</p>
				<input id="phone" value="0919-123456" class="form-control" />
			</div>
			<div class="input_wrap">
				<p class="color-gray-dark bold p_width">緊急聯絡人</p>
				<input id="emergencyContact" value="聯絡人" class="form-control form-control-small" />
				<select id="position" class="form-select form-select-small">
					<option value="父" selected>父親</option>
					<option value="母">母親</option>
					<option value="丈夫">丈夫</option>
					<option value="妻子">妻子</option>
					<option value="其他">其他</option>
				</select>
			</div>
			<div class="input_wrap">
				<p class="color-gray-dark bold p_width">緊急電話</p>
				<input id="emergencyPhone" value="0919-123456" class="form-control" />
			</div>
			<div class="input_wrap">
				<p class="color-gray-dark bold p_width">到職日</p>
				<input type="date" class="form-control" id="hireDay" />
			</div>
		</div>
		<div class="middle_area_right">
			<div class="input_wrap">
				<p class="color-gray-dark bold p_width">員工編號</p>
				<input id="employeeId" value="ABC-123456" class="form-control" disabled />
			</div>
			<div class="input_wrap">
				<p class="color-gray-dark bold p_width">帳號權限</p>
				<select id="employeeRole" class="form-select form-select-big">
					<option value="M">管理權限</option>
					<option value="E">所有權限</option>
					<option value="A" selected>一般權限</option>
				</select>
			</div>
			<div class="input_wrap">
				<p class="color-gray-dark bold p_width">部門</p>
				<select id="department" class="form-select form-select-big">
					<option selected>行政管理部</option>
					<option>工務管理部</option>
					<option>行政工程部</option>
				</select>
			</div>
			<div class="input_wrap">
				<p class="color-gray-dark bold p_width">職稱</p>
				<select id="position" class="form-select form-select-big">
					<option>高層</option>
					<option>工地主任</option>
					<option selected>一般員工</option>
				</select>
			</div>
			<div class="input_wrap">
				<p class="color-gray-dark bold p_width">直屬主管</p>
				<select id="ImmediateSupervisor" class="form-select form-select-big">
					<option selected>Peter</option>
					<option>Dave</option>
					<option>Shun</option>
					<option>Zoe</option>
					<option>Y</option>
				</select>
			</div>
			<div class="input_wrap">
				<p class="color-gray-dark bold p_width">地址</p>
				<input id="address" value="台中市台中市台中市台中市台中市" class="form-control" />
			</div>
			<div class="input_wrap">
				<p class="color-gray-dark bold p_width">電子郵件</p>
				<input type="email" id="mail" value="123@gmail.com" class="form-control" />
			</div>
			<div class="input_wrap">
				<p class="color-gray-dark bold p_width">設定密碼</p>
				<input type="password" id="password" class="form-control" />
			</div>
			<div class="input_wrap">
				<p class="color-gray-dark bold p_width">離職日</p>
				<input type="date" class="form-control" id="resignDay" />
			</div>
		</div>
	</div>
	<div class="end_area obj-center">
		<button type="button" class="btn btn-outline" id="cancel-btn"><p class="color-blue">取消</p></button>
		<button type="button" class="btn btn-primary" id="save-btn"><p>儲存</p></button>
	</div>
</div>

<!-- 文件上傳輸入框 -->
<input type="file" class="form-control d-none" id="fileAdd" accept="image">

<!-- 儲存按鈕 Modal -->
<div id="clockPopup" class="modal clock-popup-wrap">
	<div class="modal-dialog clock-popup-content">
		<div class="modal-content">
			<div class="modal-header clock-top obj-vertical-center">
				<h5 class="modal-title color-gray-dark bold">提醒：為已離職人員</h5>
				<div class="clock-close obj-center"><i class="fas fa-times"></i></div>
			</div>
			<div class="modal-body clock-area">
				<h1 id="timeClock" class="color-gray-medium bold">提交後將關閉啟用狀態</h1>
				<h4 class="color-gray-dark bold">是否確認提交?</h4>
			</div>
			<div class="modal-footer clock-check">
				<button class="clock-button_cancel obj-center" id="no-Button">
					<p class="bold color-blue">否</p>
				</button>
				<button class="clock-button obj-center" id="yes-Button">
					<p class="bold color-white">是</p>
				</button>
			</div>
		</div>
	</div>
</div>



<script>
	let Motion = 'Add';

	//打卡視窗控制

	$(document).ready(function() {

		uploadPhoto();
		switcher();
		popup();
		getData();

	});
	let getData = function GetData(){
		
		if(Motion == 'Edit'){

		}else{
			$.ajax({
				url:'/Profile/GetNewId',
				type: 'GET',
				dataType: 'json',
				success: function(response) {
					if (response.length != 0) {
						const employee = response.data;
						$("#employeeId").prop('value', employee);
					}
				},
				error: function(xhr, status, error) {

					console.error('Error fetching data:', error);
				}
			});
			$.ajax({
				url:'/Profile/GetSupervisor',
				type: 'GET',
				dataType: 'json',
				success: function(response) {
					if (response.length != 0) {
						setSupervisor(response);
					}
				},
				error: function(xhr, status, error) {

					console.error('Error fetching data:', error);
				}
			});
		};
	}
	
	function SaveData(){

		let dataEmployee = new
		{
			EmployeeId : $('#employeeId').val(),
			IsActive : $('#flexSwitchCheckDefault').prop('checked'),
			Position : $('#position').val(),
			PositionRole : $('#employeeRole').val(),
			HireDate : $('#hireDay').val(),
			ResignationDate : $('#resignDay').val()
		};

		let dataEmpWithDetail = new
		{
			EmployeeId : $('#employeeId').val(),
			Department : $('#department').val(),
			ImmediateSupervisor : $('#ImmediateSupervisor').val(),
			EmployeePhoto : 0,
			EmployeeName : $('#employeeName').val(),
			PhoneNumber : $('#phone').val(),
			Mail : 0,
			Password : 0,
			Address : $('#address').val(),
			Gender : 0,
			BirthDate : $('#birthDate').val(),
			EmergencyContact : $('#emergencyContact').val(),
			EmergencyRelationship : 0,
			EmergencyContactPhone : $('#emergencyPhone').val(),
			AnnualLeave : 0
		}

		if(Motion == 'Edit')
		{

		}else{

		}
	}

	// 取消按鈕
	$('#cancel-btn').click(function(){
		location.href = "/profile/Account";
	})

	let popup = function Popup(){
		$("#save-btn").click(function(){

			let resignDayValue = $('#resignDay').val();
			let dateNow = Date.now();
			let resignDay = new Date(resignDayValue);

			if(dateNow > resignDay){
				$("#clockPopup").fadeIn();
			}
		});

		$(".clock-close").click(function(){
			$("#clockPopup").fadeOut();
		});

		$('#no-Button').click(function(){
			$("#clockPopup").fadeOut();
		})

		// 點擊背景區域關閉彈窗
		$("#clockPopup").click(function(event) {
			if(event.target === this) {
				$(this).fadeOut();
			}
		});
	}

	// 存檔POST資料
	$('#yes-Button').click(function(){
		// 取得form資料
		const formData = {
			// 基本資料
			employeeId: $('#employeeId').val(),
			employeeName: $('#employeeName').val(),
			ImmediateSupervisor: $('#ImmediateSupervisor').val(),
			phone: $('#phone').val(),
			birthDate: $('#birthDate').val(),
			hireDate: $('#hireDay').val(),
			resignDate: $('#resignDay').val(),
			address: $('#address').val(),
			emergencyPhone: $('#emergencyPhone').val(),
			emergencyContact: $('#emergencyContact').val(),

			// 權限和部門
			permission: $('#employeeRole').val(),
			department: $('#department').val(),
			position: $('#position').val(),

			// 是否啟用
			isActive: $('#flexSwitchCheckDefault').prop('checked'),

			// 員工照片（base64字符串）
			photo: $('#imgload').src.split(",")[1]
		};
		console.log(formData)

		/*
		$.ajax({
			url: '/Profile/SubmitAccount',
			type: 'POST',
			dataType: 'json',
			contentType: 'application/json',
			data: JSON.stringify(formData),
			success: function(response) {
				console.log('Success:', response);
				if(response.success) {
					alert('保存成功');
					location.href = '/Profile/Account';
				} else {
					alert('保存失败：' + response.message);
				}
			},
			error: function(xhr, status, error) {
				console.error('Error:', error);
				alert('儲存失敗，請稍後再試');
			}
		});
		*/
	})

	let switcher = function Switcher(){
	// 是否啟用區域的文字控制
	const switchInput = $('#flexSwitchCheckDefault');
	const switchLabel = $('#switch_txt');

		$('#flexSwitchCheckDefault').on('change', function() {
			
			if ($(this).prop('checked')) {
				$('#switch_txt').text('啟用中');
			} else {
				$('#switch_txt').text('停用中');
			}
		});
	}
	let uploadPhoto = function UploadPhoto(){
		// 照片上傳功能
		// 點擊上傳區域觸發文件選擇
		$("#photoBox").on("click", function() {
			$("#fileAdd").click();
		});

		// 監聽文件上傳
		$("#fileAdd").on("change", function(event) {
			let file = event.target.files[0];

			if (file && file.type.startsWith("image/")) {
				let reader = new FileReader();
				reader.onload = function(e) {
					let imgStr = e.target.result;

					// 更新預覽圖
					$(".upload-area").remove();
					$("#photoBox").html(`
						<img src="${imgStr}" class="preview-img" style="width: 100%; height: 100%; object-fit: cover; border-radius: 10px;" id="imgload">
					`);
				};
				reader.readAsDataURL(file);
			} else {
				console.log("請選擇圖片檔案");
			}
		});
	}
	let setSupervisor = function(response){
		$("#ImmediateSupervisor").empty();
		for(let i = 0;i<response.length;i++){
			let option = document.createElement('option');
			option.textContent = response[i].employeeName;
			option.value = response[i].employeeId;
			$("#ImmediateSupervisor").append(option);
		};

		let firstOption = document.createElement('option');
		firstOption.textContent = '總經理';
		firstOption.value = null;
		firstOption.selected = true;
		$("#ImmediateSupervisor").append(firstOption);
	}
</script>