@* stylesheet *@
<link rel="stylesheet" href="~/css/Project/Blueprints.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/Project/IssuesDetail.css" asp-append-version="true" />

<div class="main_wrap border-radius box-shadow">
    <h4 class="bold">新增圖紙 </h4>
    <div class="report-display">

        <div class="input_wrap">
            <div class="text-wrap">
                <p class="color-gray-dark bold p-width">圖紙類型</p>
            </div>
            <select id="categorySelectd"  class="form-select" aria-label="Default select example">
                <option value="PC1">結構工程圖</option>
                <option value="PC2">建築設計圖</option>
                <option value="PC3">公共設施圖</option>
                <option value="PC4">施工細部圖</option>
                <option value="PC5">機電設備圖</option>
                <option value="PC6">其他</option>
            </select>
        </div>

        <div class="input_wrap">
            <div class="text-wrap">
                <p class="color-gray-dark bold p-width">版本號碼</p>
            </div>
            @{
                //if判斷從Bp還是Detail來
                    //BP:
                    <input maxlength="10" type="text" class="form-control" id="endDate" name="endDate" value="1.0">
                    //Detail:
                    //切一半放version:最新
            }
            
        </div>



        <div class="input_wrap">
            <div class="text-wrap">
                <p class="color-gray-dark bold p-width">圖紙名稱</p>
            </div>
                    <input maxlength="50" type="text" class="form-control" id="endDate" name="endDate">
        </div>

        <div class="file_wrap">
            <div class="text-wrap">
                <p class="color-gray-dark bold p-width">事件圖片</p>
            </div>

        </div>

    </div>

    <div class="end-check">
        <a href="~/Project/Blueprints?id=" id ="CateID">
        <button class="back-button obj-center">
            <p class="bold color-white">
                取消 
            </p>
        </button>
        </a>
        @* @if (ViewBag.Motion == "add") *@
        @* { *@
            <button class="save-button obj-center">
                <p class="bold color-white">
                    儲存
                </p>
            </button>
        @* } *@

    </div>

    @* 圖片放大 *@
    <div id="picturePopup" class="picture-popup-wrap">
        <div class="picture-popup-content">
            <img class="picture-img" src="#" alt="Alternate Text" />
        </div>
    </div>

    <input type="file" class="form-control d-none" id="fileAdd" accept="image">
    <input type="file" class="form-control d-none" id="fileAddTrack" accept="image">
</div>


<script>
    let cID;
    function GetID() {
        let req = {             }
        return new Promise((resolve, reject) => {
            $.ajax({
                url: "/Project/GetUsingCategary",
                type: "GET",
                contentType: "application/json",
                data: JSON.stringify(req),
                success: resolve,
                error: reject
            });
         });
      }
    async function  useFunc(){
        cID = await GetID();
        $("#CateID").prop("href", "/Project/Blueprints?id="+cID)
        console.log(cID);
        document.getElementById("categorySelectd").value = cID;
    }


    // 變數來控制預設選項
    // 設定 select 的預設值
    

    /*
    [FromQuery]是?
    yourapiurl/api/MyController/
這裡填寫的是?
    */
    //testing
    function a (){
        const data = {
        name: "工程圖",
        id: "PC1"
        };
        // 把資料轉換為JSON字串
        const jsonData = JSON.stringify(data);
        // 發送GET請求到API
        fetch(`http://yourapiurl/api/MyController/Myfunction?data=${encodeURIComponent(jsonData)}`, {
            method: 'GET', // 使用GET方法
            headers: {
                'Content-Type': 'application/json'
            }
        })
        .then(response => response.json())  // 解析回應為JSON
        .then(result => {
            console.log('從後端獲得的數據:', result);  // 在控制台輸出後端返回的結果
        })
        .catch(error => {
            console.error('錯誤:', error);  // 捕獲錯誤
        });
    }

    //testing

    let Motion = @Html.Raw(Json.Serialize(ViewBag.Motion));
    let Type = @Html.Raw(Json.Serialize(ViewBag.Type));

    $(document).ready(function() {
        //useFunc
            useFunc();

        // 回報區塊
        let fileList = []

        let fileDiv = `
            <div class="file-area obj-center chose-temp">
                <h3><i class="fas fa-plus"></i></h3>
            </div>
        `

        // if(!(Motion == "add" && Type == "Track")){
            $(".report-display .file_wrap").append(fileDiv)
        // }

        let listenFile = () => {
            $(".report-display .file_wrap .file-area").on("click", function(e) {
                if(fileList.length < 5){
                    $("#fileAdd").click()
                }

            });
        }

        //圖片放大
        $("#picturePopup").hide();
        let listenImg = () => {
            $(".img-area").on("click", function(e) {
                $(".picture-img").prop("src",e.target.src)
                $("#picturePopup").fadeIn();
            });

            $(".picture-close").click(function(){
                $("#picturePopup").fadeOut();
            });

            // 點擊背景區域關閉彈窗
            $("#picturePopup").click(function(event) {
                if(event.target === this) {
                    $(this).fadeOut();
                }
            });
        }

        listenFile()

        let unListenFile = () => {
            $(document).off("click", ".report-display .file_wrap .file-area");
        }

        $("#fileAdd").on("change", function(event) {

            let file = event.target.files[0];

            if (file && file.type.startsWith("image/") && (fileList.length < 5)) {
                let reader = new FileReader();
                reader.onload = function(e) {

                    unListenFile()

                    let imgStr = e.target.result
                    fileList.push(imgStr)
                    let imgDiv = `
                        <div class="obj-center img-wrap">
                            <img src="${imgStr}" class="img-area">
                        </div>
                    `

                    $(".report-display .file_wrap .chose-temp").remove()
                    $(".report-display .file_wrap").append(imgDiv)
                    if(fileList.length < 5){
                        $(".report-display .file_wrap").append(fileDiv)
                    }

                    listenFile()
                    listenImg()

                };
                reader.readAsDataURL(file);
            } else {
                console.log("請選擇圖片檔案");
            }
        });

        // 追蹤區塊
        let fileListTrack = []

        let fileDivTrack = `
            <div class="file-area obj-center chose-temp">
                <h3><i class="fas fa-plus"></i></h3>
            </div>
        `
        $(".track-display .file_wrap").append(fileDivTrack)


        let listenFileTrack = () => {
            $(".track-display .file_wrap .file-area").on("click", function(e) {
                if(fileListTrack.length < 5){
                   $("#fileAddTrack").click()
                }

            });
        }

        listenFileTrack()

        let unListenFileTrack = () => {
            $(document).off("click", ".track-display .file_wrap .file-area");
        }

        $("#fileAddTrack").on("change", function(event) {

            let file = event.target.files[0];

            if (file && file.type.startsWith("image/") && (fileListTrack.length < 5)) {
                let reader = new FileReader();
                reader.onload = function(e) {

                    unListenFileTrack()

                    let imgStr = e.target.result
                    fileListTrack.push(imgStr)
                    let imgDiv = `
                        <div class="obj-center img-wrap">
                            <img src="${imgStr}" class="img-area">
                        </div>
                    `

                    // let tempDiv = `
                    //     <div class="obj-center img-wrap">
                    //         <p> <i class="fas fa-times"></i></p>
                    //         <img src="${imgStr}" class="img-area">
                    //     </div>
                    // `
                    // let deleteDiv = `<p> <i class="fas fa-times"></i></p>`

                    $(".track-display .file_wrap .chose-temp").remove()
                    $(".track-display .file_wrap").append(imgDiv)
                    if(fileListTrack.length < 5){
                        $(".track-display .file_wrap").append(fileDivTrack)
                    }

                    listenFileTrack()
                    listenImg()
                };
                reader.readAsDataURL(file);
            } else {
                console.log("請選擇圖片檔案");
            }
        });

        //輸入控制

        if(Motion == "select"){
            $("input").prop('disabled', true)
            $("textarea").prop('disabled', true)
            $("select").prop('disabled', true)
            $(".chose-temp").hide()
        }else if(Motion == "add" && Type == "Track"){
            $(".report-display .input_wrap input").prop('disabled', true)
            $(".report-display .input_wrap select").prop('disabled', true)
            $(".report-display .explain_wrap textarea").prop('disabled', true)
        }




    });

</script>
