@* stylesheet *@
<link rel="stylesheet" href="~/css/Attendance/Records.css" asp-append-version="true" />

@* https://localhost:7142/Attendance/Records *@


<div class="main_wrap border-radius box-shadow">
    <div id="clock" class="main_area obj-horizontal-center">
        <div class="top_area">
            <h4 class="bold">打卡紀錄</h4>
            <button id="clockPopupButton" class="button button_style bold">上下班打卡</button>
        </div>
        <div class="middle_area">
            <table class="table">
                <thead>
                    <tr>
                        <th><p class="tb-title">日期</p></th>
                        <th class="tb-title">狀態</th>
                        <th class="tb-title">上班簽到</th>
                        <th class="tb-title">下班簽退</th>
                        <th class="tb-title">總時數</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div class="end_area obj-center">
        </div>
    </div>
    @if(ViewBag.Role != "P"){
        <div id="holiday" class="main_area obj-horizontal-center">
            <div class="top_area">
                <h4 class="bold">請假紀錄</h4>
                <button id="holidayPopupButton" class="button button_style bold">請假申請</button>
            </div>
            <div class="middle_area">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="tb-title">開始時間</th>
                            <th class="tb-title">結束時間</th>
                            <th class="tb-title">狀態</th>
                            <th class="tb-title">假別</th>
                            <th class="tb-title">總時數</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="end_area obj-center">
            </div>
        </div>

    }
   
</div>

<!-- clock Pop-up -->
<div id="clockPopup" class="clock-popup-wrap">
    <div class="clock-popup-content">
        <div class="clock-top obj-vertical-center">
            <div class="clock-close obj-center">&times;</div>
        </div>
        <div class="clock-area">
            <h4 class="color-gray-dark bold">系統時間</h4>
            <h1 id="timeClock" class="color-gray-medium bold">09 : 01 : 20</h1>
            <h4 class="color-gray-dark bold">上下班打卡</h4>
            <div class="clock-check">
                <button class="clock-button obj-center">
                    <p class="bold color-white">
                      上班簽到
                    </p>
                </button>
                <button class="clock-button obj-center">
                   <p class="bold color-white">
                     下班簽退
                   </p>
                </button>
            </div>
        </div>
    </div>
</div>

<!-- holiday Pop-up -->
<div id="holidayPopup" class="holiday-popup-wrap">
    <div class="holiday-popup-content">
        <div class="holiday-top obj-vertical-center">
            <div class="holiday-close obj-center">&times;</div>
        </div>
        <div class="holiday-area">
            <div class="message-display">
                <h4 class="color-gray-dark bold">請假申請</h4>
                <p class="color-gray-dark bold">提醒：特休假剩餘 16 小時。</p>
            </div>
            
            <div class="chose-display">
                <div class="input_wrap">
                    <p class="color-gray-dark bold p-width">開始時間</p>
                    <input type="datetime-local" class="form-control" id="startDate" name="startDate">
                </div>

                <div class="input_wrap">
                    <p class="color-gray-dark bold p-width">結束時間</p>
                    <input type="datetime-local" class="form-control" id="endDate" name="endDate">
                </div>

                <div class="input_wrap">
                    <p class="color-gray-dark bold p-width">假別</p>
                    <select class="form-select" aria-label="Default select example">
                        <option value="1">婚假</option>
                        <option value="2">喪假</option>
                        <option value="3">病假</option>
                        <option selected value="4">事假</option>
                        <option value="5">公假</option>
                        <option value="6">特休假</option>
                        <option value="7">公傷病假</option>
                        <option value="8">生理假</option>
                        <option value="9">產假</option>
                        <option value="10">產檢假</option>
                        <option value="11">陪產檢及陪產假</option>
                        <option value="12">安胎假</option>
                        <option value="13">育嬰留職停薪</option>
                        <option value="14">家庭照顧假</option>
                    </select>
                </div>
            </div>
            
            <div class="holiday-check obj-center">
                <button class="holiday-button obj-center">
                    <p class="bold color-white">
                        請假申請
                    </p>
                </button>
            </div>
        </div>
    </div>
</div>

<script>
    
    let clockData = [
        {
            date:"2025/02/16",
            status:true,
            upTime:"04:18",
            downTime:"11:18",
            count:5
        },
        {
            date:"2025/02/16",
            status:false,
            upTime:"02:18",
            downTime:"12:18",
            count:3
        },
        {
            date:"2025/02/02",
            status:true,
            upTime:"02:18",
            downTime:"12:18",
            count:7
        },
        {
            date:"2025/02/03",
            status:false,
            upTime:"02:18",
            downTime:"12:18",
            count:9
        },
        {
            date:"2025/07/02",
            status:true,
            upTime:"02:18",
            downTime:"12:18",
            count:7
        },
        {
            date:"2025/01/02",
            status:true,
            upTime:"02:18",
            downTime:"12:18",
            count:6
        }
    ]

    let clockPageCount = 5;

    let holidayData = [
        {
            startDate:"2025/02/16",
            startTime:"09:00",
            endDate:"2025/02/16",
            endTime:"09:00",
            status:false,
            holidayType:"特休",
            count:6
        },
        {
            startDate:"2025/02/16",
            startTime:"09:00",
            endDate:"2025/02/16",
            endTime:"09:00",
            status:true,
            holidayType:"特休",
            count:6
        },
        {
            startDate:"2025/02/16",
            startTime:"09:00",
            endDate:"2025/02/16",
            endTime:"09:00",
            status:false,
            holidayType:"特休",
            count:6
        },
    ]

    let holidayPageCount = 3;

    $(document).ready(function() {
        
        //打卡表格生成
        for(let i = 0;i<clockData.length;i++){
            let ele = `
                <tr>
                    <td class="tb-txt">${clockData[i].date}</td>
                    <td class="tb-txt">
                        <p>
                            ${clockData[i].status ? `<i class="fas fa-check-circle color-green"></i>` : `<i class="fas fa-exclamation-circle color-gray-light"></i>`}
                        </p>
                    </td>
                    <td class="tb-txt">${clockData[i].upTime}</td>
                    <td class="tb-txt">${clockData[i].downTime}</td>
                    <td class="tb-txt">${clockData[i].count}</td>
                </tr>
            `

            $("#clock .middle_area table tbody ").append(ele)

        }

        //打卡分頁生成

        $("#clock .end_area").append(`
            <h4><i class="fas fa-angle-left"></i></h4>
        `)
        
        for(let i = 0;i<clockPageCount;i++ ){
            $("#clock .end_area").append(`
                <div class="page_circle obj-center">
                    <p class="bold">${i+1}</>
                </div>
            `)
        }

        $("#clock .end_area").append(`
            <h4><i class="fas fa-angle-right"></i></h4>
        `)

        //請假表格生成
        for(let i = 0;i<holidayData.length;i++){
            let ele = `
                <tr>
                    <td class="tb-txt ">
                        <div class="center_display">
                            <span>${holidayData[i].startDate}</span>
                            <span>${holidayData[i].startTime}</span>
                        </div>
                    </td>
                    <td class="tb-txt ">
                        <div class="center_display">
                            <span>${holidayData[i].endDate}</span>
                            <span>${holidayData[i].endTime}</span>
                        </div>
                    </td>
                    <td class="tb-txt td_center">
                        <p class="center_display">
                            ${holidayData[i].status ? `<i class="fas fa-check-circle color-green"></i>` : `<i class="fas fa-exclamation-circle color-gray-light"></i>`}
                        </p>
                    </td>
                    <td class="tb-txt td_center">
                        ${holidayData[i].holidayType}
                    </td>
                    <td class="tb-txt td_center">
                        ${holidayData[i].count}
                    </td>
                </tr>
            `

            $("#holiday .middle_area table tbody ").append(ele)

        }

        //請假分頁生成

        $("#holiday .end_area").append(`
            <h4><i class="fas fa-angle-left"></i></h4>
        `)

        for(let i = 0;i<holidayPageCount;i++ ){
            $("#holiday .end_area").append(`
                <div class="page_circle obj-center">
                    <p class="bold">${i+1}</>
                </div>
            `)
        }

        $("#holiday .end_area").append(`
            <h4><i class="fas fa-angle-right"></i></h4>
        `)

        //打卡視窗控制
        $("#clockPopupButton").click(function(){
            $("#clockPopup").fadeIn();
        });

        $(".clock-close").click(function(){
            $("#clockPopup").fadeOut();
        });

        // 點擊背景區域關閉彈窗
        $("#clockPopup").click(function(event) {
            if(event.target === this) {
                $(this).fadeOut();
            }
        });

        //請假視窗控制
        $("#holidayPopupButton").click(function(){
            $("#holidayPopup").fadeIn();
        });

        $(".holiday-close").click(function(){
            $("#holidayPopup").fadeOut();
        });

        // 點擊背景區域關閉彈窗
        $("#holidayPopup").click(function(event) {
            if(event.target === this) {
                $(this).fadeOut();
            }
        });

        //計時
        function updateTime() {
            document.getElementById("timeClock").innerText = new Date().toLocaleTimeString();
        }
        
        setInterval(updateTime, 1000);

    });

</script>
